body{
	background-image: url(nature.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.main{
	margin-left: 300px;
	margin-top: 70px;
}
ul li{
	list-style-type: none;
	display: inline;
	color: black;
	margin-left: 70px;
	background-color: whitesmoke;
	height: 150px;
	width: 150px;
	border-radius: 20%;
}
P{
	color: whitesmoke;
	font-size: 40px;
	margin-left: 100px;
}
input{
	height: 50px;
	width: 300px;
	border-radius: 30px;
	margin-left: 200px;
	margin-top: 200px;
}
